name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: [[ python_version ]]
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh -s -- -y
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Run pre-commit
        run: uv run pre-commit run --all-files
      - name: Run tests
        run: uv run pytest --cov=src --cov-report=term-missing -n 1 ./tests
